{% extends "template.html" %}
{% block content %}
      <div class="row">
        <div class="col-xl-12 col-lg-8 col-xl-7 mx-auto">
<!--           <div class="col-xl-12 mx-auto">
 --><!--           <blockquote class="inner-block">
 -->           <blockquote style="text-align:center;">
              <span class="fa fa-3x fa-quote-left" style="font-size:48px;color:black"></span>
              <p class="block-text col-xl-12 col-lg-8 col-xl-7 mx-auto" style="font-size:0.625rem"><pre>{{ taunt_output|safe  }}</pre></p>
          </blockquote>
<!--         </div>
 -->      </div>
{% endblock %}