<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deus Ex Machina</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/landing-page.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!--- For slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>

    <!--- Number validation -->
    <script type="text/javascript">     
    function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ( (charCode > 31 && charCode < 48) || charCode > 57) {
                return false;
            }
            return true;
        }
    </script>

    <!-- <link rel="stylesheet" type="text/css" href="static/css/file-upload.CSS" /> -->
    <script src="static/js/file-upload.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.file-upload').file_upload();
      });
    </script>


    <title>jQuery UI Slider functionality</title>
    <!-- <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 -->
      <!-- Javascript -->
<!--             <script>
               $(function() {
                  $( "#slider-1" ).slider({
                     orientation:"horizontal",
                     value:50,
                     tooltip:"always",
                     slide: function( event, ui ) {
                        $( "#wordnum" ).val( ui.value );
                     }  
                  });
                  $( "#wordnum" ).val( $( "#slider-1" ).slider( "value" ) );
               });
            </script> -->

  </head>

  <body>

    <!-- Navigation -->
<!--     <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Taunt Generator</a>
      </div>
    </nav> -->

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto">
            <h2 class="mb-5">Generate a taunt with our default input file....</h2>
          </div>

          <form class="col-xl-12 mx-auto" id="tauntgenerator", action="/maketaunt", method="post">   
            <div class="col-xl-12 mx-auto" id="main">
              <fieldset>
              <!-- Number of Words -->
              <label for="wordnum" style="font-size: 2rem">Number of words:</label>
                <input type="text" class="textfield" name="wordnum" id="wordnum" defaultValue="200" onkeypress="return isNumber(event)" style="border:0; color:#b9cd6d; font-weight:bold; text-align:center; margin-top:10px; margin-left:0px; width: 100px"/>
              
              <!-- Seed (optional) -->
              <div class="col-xl-12 mx-auto">
                <label for="seed" style="font-size: 2rem; font-weight:lighter">Taunt# (optional):</label>
                  <input type="text" class="textfield" name="seed" id="seed" onkeypress="return isNumber(event)" style="border:0; color:#b9cd6d; font-weight:lighter; text-align:center; margin-top:10px; margin-left:0px; width: 150px"/>
              </div>
             
              <div class="col-xl-4 mx-auto">
                <input type="submit" name="submit" value="Generate Taunt!" id="submit" class="btn btn-block btn-lg btn-primary" style = "font-size: 2rem; margin-top:35px; margin-left:0px"/>         
              </div>


              <div class="col-xl-12 mx-auto">
                <h2 class="mb-5" style="margin-top:50px;">...or upload a .txt file with your own taunt magic!</h2>
              </div>

             <!--  <h2 class="col-xl-12 mx-auto">...or upload your own .txt file with taunt magic!</h2> -->

              <!-- File Upload Button -->
              <label class="file-upload btn btn-block btn-lg " for="file-upload"></label>
                <input type="file" class="hidden" accept=".txt" name="file-upload" id="file-upload" style = "font-size: 2rem; margin-left:250px"/>

              </fieldset>
            </div>
          </form>

        </div>
      </div>
    </header>




    <div class="container">
      <div class="row">
<!--         <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
 -->          <blockquote class="inner-block">
            <span class="fa fa-3x fa-quote-left" style="font-size:48px;color:black"></span>
              <p class="block-text"><pre>{{ taunt_output|safe  }}</pre></p>
          </blockquote>
<!--         </div>
 -->      </div>
    </div>




    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            
            <p class="text-muted small mb-4 mb-lg-0">&copy; This Gift From the God(desse)s brought to you by Agata and Sweta. Language model provided by Elle O'Brien. Mighty Aphroditease 2018. All Farts Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>
