<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deus Ex Machina</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/landing-page.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!--- For slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>

    <!--- Number validation -->
    <script type="text/javascript">     
    function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ( (charCode > 31 && charCode < 48) || charCode > 57) {
                return false;
            }
            return true;
        }
    </script>

    <link rel="stylesheet" type="text/css" href="static/css/file-upload.CSS" />
    <script src="static/js/file-upload.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.file-upload').file_upload();
      });
    </script>
  </head>

  <body>

    <!-- Navigation -->
<!--     <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Taunt Generator</a>
      </div>
    </nav> -->

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto">
            <label class="mb-2" style = "font-size: 1rem; margin-top:10px" >Generate a taunt from previous Aphroditease scripts....</label>
          </div>

          <form class="col-xl-12 mx-auto" id="tauntgenerator", action="/maketaunt", method="post" style="margin-top:0px" >   
            <div class="col-xl-12 mx-auto" id="main" style="margin-top:0px">
              <fieldset>
              <!-- Number of Words -->
              <label for="wordnum" style="font-size: 1rem">Number of words:</label>
                <input type="text" class="textfield" name="wordnum" id="wordnum" placeholder="200" onkeypress="return isNumber(event)" style="border:0; color:#b9cd6d; font-weight:bold; text-align:center; margin-top:10px; margin-left:0px; width: 100px"/>
              
              <!-- Seed (optional) -->
              <div class="col-xl-12 mx-auto">
                <label for="seed" style="font-size: 1rem; font-weight:lighter">Taunt# (optional):</label>
                  <input type="text" class="textfield" name="seed" id="seed" onkeypress="return isNumber(event)" style="border:0; color:#b9cd6d; font-weight:lighter; text-align:center; margin-top:10px; margin-left:0px; width: 150px"/>
              </div>
             
              <div class="col-xl-4 mx-auto" style="margin-top:0px">
                <input type="submit" name="submit" value="Generate Taunt!" id="submit" class="btn btn-block btn-lg btn-primary" style = "font-size: 1rem; margin-top:15px; margin-bottom:15px; margin-left:0px"/>         
              </div>
              
              <!-- File Upload... to be continued-->
<!--               <div class="form-group">
                <label for="filename">Select input file::</label>
                <select class="form-control" id="filename", name="filename">
                  <option>default</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div> -->

              <!-- File Upload Button -->
<!--               <div class="col-xl-12 mx-auto">
                <label class="mb-2" style = "font-size: 1.25rem; margin-top:15px; margin-bottom:15px">...or upload a .txt file with your own taunt magic!</label>
              </div>

              <input type="file" class="hidden" accept=".txt" name="filename" id="filename" style = "text-align:center; font-size: 1rem; margin-left:100px; margin-top:10px; margin-bottom:10px"/> -->


              <!-- Text input -->
              <div class="col-xl-12 mx-auto">
                <label for="corpus" style = "font-size: 1rem">...or paste in your own taunt input:</label>
                <row>
                <textarea type="text" class="textarea col-xl-12 mx-auto" name="corpus" id="corpus" rows=3 wrap="soft" style="border:0; color:#b9cd6d; font-weight:bold; text-align:center; margin-top:10px; margin-left:0px; margin-bottom:15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
                </row>
              </div>
              </fieldset>
            </div>
          </form>

<!--           <textarea form="tauntgenerator" name="corpus" id="corpus" cols="35" rows=2 wrap="soft"></textarea>
 -->
        </div>
      </div>
    </header>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            
            <p class="text-muted small mb-4 mb-lg-0">&copy; This Gift From the God(desse)s brought to you by Agata and Sweta. Language model provided by Elle O'Brien. Mighty Aphroditease 2018. All Farts Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>
